*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.BloquePantalla{
  border: 1px solid black;
  text-align: end;
  background-color: white;
  margin: 1.5%;
}
.PantallaSuperior{
  border-bottom: 1px solid black;
  overflow: auto;

}
.PantallaInferior{
  font-size: x-large;
  overflow: auto;
}
.BloqueBotones{
  margin-top: 3%;
}
.FilasBotones{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.Boton{
  color: white;
  background-color: green;
  flex-basis: 22%;
  border: 1px solid white;
  text-align: center;
  font-size: x-large;
  margin: 1.5%;
  cursor: pointer;

}
.BtnIgual{
  margin: 1.5% auto;
}
.Calculadora{
  background-color: #6bff42;
  width: 30%;
  margin:  auto;
  border: 1px solid black;

}
